{% extends 'main.html' %} {% block content%}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div
      class="d-sm-flex align-items-center justify-content-between mb-4"
  >
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->

  <!-- Content Row -->

  <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-7 col-lg-6" style="display: flex;">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
          <h6 class="m-0 font-weight-bold text-primary">
              NHẬP THÔNG TIN CỦA BẠN
          </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
          <div class="chart-area">
              <form
              class="row"
              action=""
              method="POST"
              enctype="multipart/form-data"
              >
              {% csrf_token %}
              <div class="form-group col-xl-6">
                  <label for="height">Chiều cao (cm)</label>
                  <input
                  type="text"
                  class="form-control"
                  id="height"
                  aria-describedby="emailHelp"
                  placeholder="VD: 175"
                  name="height"
                  required
                  />
              </div>
              <div class="form-group col-xl-6">
                  <label for="exampleInputPassword1"
                  >Cân nặng (kg)</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="VD: 63"
                  name="weight"
                  required
                  />
              </div>
              <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1"
                  >Tổng độ sáng hai mắt (/20)</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="VD: 10"
                  name="eye_sight"
                  required
                  />
              </div>
              <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1"
                  >Số răng sâu độ 3 (cái)</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="VD: 0"
                  name="tooth_decay"
                  required
                  />
              </div>
              <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1"
                  >Khoảng cách nghe xa nhất (m)</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="VD: 12"
                  name="hearing_power"
                  required
                  />
              </div>
              <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1"
                  >Diện tích nấm da (cm2)</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="VD: 20"
                  name="max_blood"
                  required
                  />
              </div>
              <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1"
                  >Huyết áp tối da (mmHg)</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="VD: 130"
                  name="size_skin"
                  required
                  />
              </div>
              <div class="form-group col-xl-6">
                  <label for="exampleInputEmail1"
                  >Độ lệch chiều dài chi (cm)</label
                  >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="VD: 1"
                  name="length_difference"
                  required
                  />
              </div>
              <button type="submit" class="btn btn-primary">
                  Submit
              </button>
              </form>
          </div>
          </div>
      </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-xl-5 col-lg-6">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
          <h6 class="m-0 font-weight-bold text-primary">
              CHỈ SỐ SỨC KHỎE CỦA BẠN
          </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
          <h1 class="text-center" style="color: #4e73df">
              Chỉ số sức khỏe: {{health_index}}
          </h1>
          <div class="chart-pie pt-4 pb-2">
              <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
              <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Loại 1
              </span>
              <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Loại 2
              </span>
              <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Loại 3
              </span>
              <span class="mr-2">
              <i class="fas fa-circle text-warning"></i> Loại 4
              </span>
              <span class="mr-2">
              <i class="fas fa-circle text-danger"></i> Loại 5
              </span>
              <span class="mr-2">
              <i class="fas fa-circle text-dark"></i> Loại 6
              </span>
          </div>
          </div>
      </div>
      </div>
  </div>

  <!-- Content Row -->
  <div class="row">
      <!-- Content Column -->
      <div class="col-lg-6 mb-4">
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
              KẾT QUẢ CHI TIẾT
          </h6>
          </div>
          <div class="card-body">
          <h4 class="small font-weight-bold">
              Loại 6 <span class="float-right">0%</span>
          </h4>
          <div class="progress mb-4">
              <div
              class="progress-bar bg-danger"
              role="progressbar"
              style="width: 0%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
              ></div>
          </div>
          <h4 class="small font-weight-bold">
              Loại 5 <span class="float-right">0%</span>
          </h4>
          <div class="progress mb-4">
              <div
              class="progress-bar bg-danger"
              role="progressbar"
              style="width: 0%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
              ></div>
          </div>
          <h4 class="small font-weight-bold">
              Loại 4 <span class="float-right">0%</span>
          </h4>
          <div class="progress mb-4">
              <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 0%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
              ></div>
          </div>
          <h4 class="small font-weight-bold">
              Loại 3 <span class="float-right">7%</span>
          </h4>
          <div class="progress mb-4">
              <div
              class="progress-bar"
              role="progressbar"
              style="width: 7%"
              aria-valuenow="7"
              aria-valuemin="0"
              aria-valuemax="100"
              ></div>
          </div>
          <h4 class="small font-weight-bold">
              Loại 2 <span class="float-right">21%</span>
          </h4>
          <div class="progress mb-4">
              <div
              class="progress-bar bg-info"
              role="progressbar"
              style="width: 21%"
              aria-valuenow="21"
              aria-valuemin="0"
              aria-valuemax="100"
              ></div>
          </div>
          <h4 class="small font-weight-bold">
              Loại 1 <span class="float-right">72%</span>
          </h4>
          <div class="progress">
              <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 72%"
              aria-valuenow="72"
              aria-valuemin="0"
              aria-valuemax="100"
              ></div>
          </div>
          </div>
      </div>

      <!-- Color System -->
      <div class="row">
          <div class="col-lg-6 mb-4">
          <div class="card bg-primary text-white shadow">
              <div class="card-body">
              Loại 2
              <div class="text-white-50 small">#4e73df</div>
              </div>
          </div>
          </div>
          <div class="col-lg-6 mb-4">
          <div class="card bg-success text-white shadow">
              <div class="card-body">
              Loại 1
              <div class="text-white-50 small">#1cc88a</div>
              </div>
          </div>
          </div>
          <div class="col-lg-6 mb-4">
          <div class="card bg-info text-white shadow">
              <div class="card-body">
              Loại 3
              <div class="text-white-50 small">#36b9cc</div>
              </div>
          </div>
          </div>
          <div class="col-lg-6 mb-4">
          <div class="card bg-warning text-white shadow">
              <div class="card-body">
              Loại 4
              <div class="text-white-50 small">#f6c23e</div>
              </div>
          </div>
          </div>
          <div class="col-lg-6 mb-4">
          <div class="card bg-danger text-white shadow">
              <div class="card-body">
              Loại 5
              <div class="text-white-50 small">#e74a3b</div>
              </div>
          </div>
          </div>
          <div class="col-lg-6 mb-4">
          <div class="card bg-dark text-white shadow">
              <div class="card-body">
              Loại 6
              <div class="text-white-50 small">#5a5c69</div>
              </div>
          </div>
          </div>
      </div>
      </div>

      <div class="col-lg-6 mb-4">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
              ĐÁNH GIÁ CHỈ SỐ CỦA BẠN
          </h6>
          </div>
          <div class="card-body">
          <div class="text-center">
              <canvas
              id="myChart"
              style="width: 100%; max-width: 600px"
              ></canvas>
          </div>
          <br />
          <p>Chỉ số của bạn tốt hơn 8 người khác.</p>
          <a target="_blank" rel="nofollow" href="https://undraw.co/"
              >Xem chi tiết từng chỉ tiêu</a
          >
          </div>
      </div>

      <!-- Approach -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
              LỜI KHUYÊN CHO BẠN
          </h6>
          </div>
          <div class="card-body">
          <p>Tốt! Các chỉ số của bạn đều bình thường</p>
          </div>
      </div>
      </div>
  </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock %}