{% extends 'main.html' %} {% block content%}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div style="display: flex; justify-content: space-between;" class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DỮ LIỆU MẪU</h6>
            <div class="pr-2">
                <form
                    class="row"
                    action=""
                    method="POST"
                    enctype="multipart/form-data"
                >
                {% csrf_token %}
                <a class="btn btn-success" href="{% url 'data' %}">
                    Thêm dữ liệu
                </a>
                <a class="btn btn-primary" href="{% url 'data' %}">
                    Run
                </a>
            </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Thể lực</th>
                            <th>Mắt</th>
                            <th>Răng-Hàm-Mặt</th>
                            <th>Tai-Mũi-Họng</th>
                            <th>Nội khoa</th>
                            <th>Da liễu</th>
                            <th>Ngoại khoa</th>
                            <th>Chỉ số sức khỏe</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Thể lực</th>
                            <th>Mắt</th>
                            <th>Răng-Hàm-Mặt</th>
                            <th>Tai-Mũi-Họng</th>
                            <th>Nội khoa</th>
                            <th>Da liễu</th>
                            <th>Ngoại khoa</th>
                            <th>Chỉ số sức khỏe</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for data in data_sample %}
                        <tr>
                            {% for value in data %}
                            <td>{{value}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}
